@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-roboto: var(--font-roboto);
} 

@theme {
  --breakpoint-xs: 480px;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight;
  }

  h1 {
    @apply text-3xl md:text-4xl leading-tight font-bold;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl leading-snug;
  } 

  h3 {
    @apply text-xl md:text-2xl lg:text-3xl leading-snug;
  }

  h4 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  h5 {
    @apply text-base md:text-lg lg:text-xl;
  }

  h6 {
    @apply text-sm md:text-base uppercase tracking-wider;
  }
}

@layer components {
  .benzin-card {
    @apply relative rounded-2xl;
  }

  .benzin-card-img-wrapper {
    @apply relative w-full h-full;
  }

  .benzin-card-img {
    @apply rounded-2xl w-full h-full max-h-52 object-cover opacity-30 pointer-events-none select-none;
  }

  .benzin-card-link {
    @apply absolute top-2 left-2 z-10 bg-background w-12 h-12 rounded-xl flex justify-center items-center border-2 border-foreground/90 hover:border-foreground hover:scale-102 duration-300;
  }

  .benzin-card-title {
    @apply absolute bottom-2 left-4 text-xl font-medium;
  } 

  .benzin-glowing-text {
    @apply bg-linear-to-r from-zinc-200 via-zinc-400 to-zinc-500 bg-clip-text text-transparent [text-shadow:0_0_20px_#9f9fa9];
  }

  .benzin-container {
    @apply flex flex-col items-center justify-center self-center w-full max-w-5xl p-6 gap-8;
  }

  .benzin-bg-image {
    @apply absolute inset-0 opacity-10 -z-10;
  }

  .benzin-profile-image {
    @apply w-full h-full max-w-32 max-h-32 rounded-2xl;
  }
 
  .benzin-cards-section {
    @apply grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 gap-6 w-full;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, system-ui, -apple-system, sans-serif;
}